@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
    
}


<div class="text-center h2 d-flex flex-column justify-content-center text-monospace">
    <h1 class="display-1 text-danger">Welcome to Mascota Feliz</h1>
    <div class="hola ">Estamos comprometidos con el bienestar de nuestros pacientes y sus familias
    </div>
    
    
</div>
