@page
@model MascotaFeliz.App.Pages.AsignarVModel
@{
}

<div class="container-one text-center">

<div class="five me-0">

          <h1 class="d-inline ">Visita: <span class="text-danger"> @Model.visita.FechaVisita</span></h1>
        <form method="post" class="d-flex align-items-center flex-column">
        <input type="hidden" asp-for="visita.Id" />
          
          
              
              
              <h3 class="text-primary">ASIGNAR</h3>

              
              <div class=" w-75 ">
              

              <label class="form-label">Veterinario</label>
              <select asp-for="veterinario.Id" class="form-control form-select mb-3" >
              @if(@Model.visita.IdVeterinario!=0){
                <option value="0">@Model.visita.IdVeterinario </option>
              }else{
                <option value="0">SELECCIONE VETERINARIO </option>
              }
              @foreach(var veterinario in Model.Lveterinarios){
                <option value=@veterinario.Id>@veterinario.Nombres   </option>
              }
              </select>

              
              
            </div>
         


          <div class="d-flex flex-wrap">
            <button type="submit" class="btn btn-outline-success btn-md me-2">Asignar</button>
          </div>

        </form>
      </div>

</div>